{{httpRequestInterceptor}}
<div class="iz" >
    <div class="col-md-4" ng-repeat="(key, value) in products">
        <div class="text-center">
            <img src="https://cdn4.iconfinder.com/data/icons/ballicons-2-free/100/box-128.png"
            alt="Texto Alternativo" class="img-circle img-thumbnail">
            <p>Id usuario: {{value.users_id}}</p>
            <p>Name of product: {{value.name}}</p>
            <p>Description of product: {{value.description}} </p>
            <br>
            <a ng-click="newTrans(value.id)">Interchange</a>
        </div>
        <br>
    </div>
</div>
