<div class="iz" >
    <a ng-href = "#/newProduct"> New Product </a>
    <div class="col-md-4" ng-repeat="(key, value) in products">
        <div class="text-center">
            <img src="https://cdn4.iconfinder.com/data/icons/ballicons-2-free/100/box-128.png"
            alt="Texto Alternativo" class="img-circle img-thumbnail">
            <p>Id usuario: {{value.users_id}}</p>
            <h2>Name of product: {{value.name}}</h2>
            <p>Description of product: {{value.description}} </p>
            <span ng-click="deleteProduct(value.id)" class="glyphicon glyphicon-trash"></span>
            <a ng-href="#/editProduct" class="glyphicon glyphicon-pencil"></a>
            <br>
            <a href="#" class="btn btn-primary text-center" title="See more">See works »</a>
        </div>
        <br>
    </div>




</div>
