<div class="iz" >
    <div class="col-md-4" ng-repeat="(key, value) in products">
        <div class="text-center">
            <img src="https://cdn4.iconfinder.com/data/icons/ballicons-2-free/100/box-128.png"
            alt="Texto Alternativo" class="img-circle img-thumbnail">
            <h2>Name of product: {{value.name}}</h2>
            <p>Description of product: {{value.description}} </p>
            <br>
            <a href="#" class="btn btn-primary text-center" title="See more">See works »</a>
        </div>
        <br>
    </div>




</div>
