<h2>New product</h2>
<div class="newproduct">
  <form ng-submit="nuevo()">
    <img src="https://cdn0.iconfinder.com/data/icons/shopping-vol-4/128/P-1-26-128.png"
            alt="Texto Alternativo" class="img-circle img-thumbnail">
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" ng-model="product.name">
    </div>
    <div class="form-group">
      <label for="pwd">Description:</label>
      <input type="text" class="form-control" ng-model="product.description">
    </div>
    <div class="button-container">
      <button><span>Create Product</span></button>
    </div>
  </form>
</div>