  <form name="login-form" class="login-form" ng-submit="new()">

    <div class="header">
      <h1>Register</h1>
    </div>
    <div class="content">
      <input name="username" type="text" class="input username" placeholder="Username" ng-model="user.username"/>
      <div class="user-icon"></div>
      <input name="username" type="text" class="input username" placeholder="Name" ng-model="user.name"/>
      <div class="user-icon"></div>
      <input name="password" type="password" class="input username" placeholder="Password" ng-model="user.password"/>
      <div class="pass-icon"></div> 
      <input name="password" type="password" class="input username" placeholder="Password Confirm" ng-model="user.password_confirmation"/>
      <div class="pass-icon"></div>   
    </div>
    <div class="footer">
      <input type="submit" name="submit" value="Register" class="button" />
    </div>
  </form>