<div class="conten">
  <h2>Product: </h2>
  <div class="main all_products">
    <div class="product">
      <img src="https://cdn0.iconfinder.com/data/icons/business-and-finance-31/244/icon-208-128.png"
      alt="Texto Alternativo" class="img-circle img-thumbnail">
      <p>Name product: {{ product.name }}</p>
      <p>Description product: {{ product.description }}</p>
      <div>
        <span ng-click="edProduct(product.id)" class="glyphicon glyphicon-pencil"></span>
      </div>
    </div>
  </div>
</div>